<section class="py-5 position-relative">
    <div class="container">
        <div class="header-product d-flex justify-content-between align-items-center">
            <h1>Popular Product</h1>
            <div class="input-search position-relative w-50">
                <input type="search" class="search form-control py-2 px-3" placeholder="Enter Name Products"
                    [(ngModel)]="searchTerm">
                <i *ngIf="!searchTerm"
                    class="fas fa-search text-body-tertiary position-absolute top-50 end-0 translate-middle me-3"></i>
            </div>
        </div>
        <div class="row gy-5 mt-3">
            <div class="col-lg-3 col-md-4 "
                *ngFor="let item of products |search:searchTerm | paginate: { id: 'productPaginate', itemsPerPage: pageSize, currentPage:currentPage, totalItems: total }">
                <div class="product shadow-sm rounded-4 p-4 ">
                    <div class="icon-wishlist text-end py-3 cursor-pointer">
                        <i class="fa-regular fa-heart fs-4"></i>
                        <!-- <i class="fa-solid fa-heart text-danger fs-4"></i> -->
                    </div>

                    <div class="child-product" [routerLink]="['/details',item._id]">
                        <div class="image-contnet w-75 mx-auto rounded-2">
                            <img class="img-fluid " [src]="item.imageCover" [alt]="item.title">
                        </div>
                        <div class="text mt-3">
                            <h2 class="font-sm fw-normal text-main">{{item.category.name}}</h2>
                            <span class="fw-medium font-sm">{{item.title.split(' ').slice(0,2).join(' ')}}</span>
                        </div>
                        <div class="sale-rate mt-3 d-flex justify-content-between ">
                            <p>{{item.price}} EGP</p>
                            <span><i class="fas fa-star rating-color"></i> {{item.ratingsAverage}}</span>
                        </div>

                    </div>
                    <div class="btn-add">
                        <button (click)="addCart(item._id)" class="btn-main w-100"><i *ngIf="isLoading"
                                class="fa-solid fa-spinner fa-spin me-2"></i> Add To Cart</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- <ng-toast [style]="{width:'300px',padding:'20px'}"></ng-toast> -->



</section>
<pagination-controls class="my-pagination text-center rounded-2" id="productPaginate" (pageChange)="pageChanged($event)"
    (pageBoundsCorrection)="pageChanged($event)" [maxSize]=9 [directionLinks]="true" [autoHide]="true"
    [responsive]="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
    screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
</pagination-controls>