<section
  class="mx-auto shadow-sm mt-4 rounded-4 p-md-5 p-3 py-4 border border-1 border-main"
>
  <h1 class="py-4 text-center fw-semibold">Forget Password</h1>

  <form [formGroup]="forgetPassword" (ngSubmit)="handlForgetPassword()">
    <div class="image w-50 mx-auto">
      <img
        class="img-fluid"
        src="./assets/images/Forgot password-cuate.svg"
        alt="OTP"
      />
    </div>
    <!-- start email -->
    <div class="mb-4">
      <label for="email" class="form-label">Email address</label>
      <input
        #inputEmail
        formControlName="email"
        type="email"
        class="form-control"
        id="email"
      />

      <!-- error message -->
      <div
        class="error-box"
        *ngIf="
          forgetPassword.get('email')?.errors &&
          (forgetPassword.get('email')?.touched || inputEmail.value.length > 0)
        "
      >
        <p
          class="alert alert-danger rounded-3 p-3 mt-3 shadow-sm"
          *ngIf="forgetPassword.get('email')?.getError('required')"
        >
          <i class="fa-regular fa-circle-xmark text-danger"></i> Email is
          Required
        </p>
        <p
          class="alert alert-danger rounded-3 p-3 mt-3 shadow-sm"
          *ngIf="forgetPassword.get('email')?.getError('email')"
        >
          <i class="fa-regular fa-circle-xmark text-danger"></i> Email in valid
        </p>
      </div>
    </div>
    <!--end email-->

    <div class="btn-submit">
      <button class="btn bg-main text-white">
        <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin me-2"></i> send
        email
      </button>
    </div>
  </form>

  <div class="modal" #model id="staticBackdrop">
    <div class="layer position-fixed top-0 start-0 w-100 h-100">
      <div class="modal-dialog mt-5">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">
              Verification Code
            </h1>
            <button
              type="button"
              class="btn-close"
              (click)="closeModel()"
            ></button>
          </div>
          <div class="modal-body py-3">
            <form
              [formGroup]="verificationCode"
              (ngSubmit)="handlverificationCode()"
            >
              <div class="image w-50 mx-auto">
                <img
                  class="img-fluid"
                  src="./assets/images/Enter OTP-cuate.svg"
                  alt="OTP"
                />
              </div>

              <div class="mb-3">
                <label for="reste" class="form-label">Verification Code</label>
                <input
                  #resetCodeInput
                  formControlName="resetCode"
                  type="text"
                  class="form-control"
                  id="reset"
                />

                <div
                  class="error-box"
                  *ngIf="
                    verificationCode.get('resetCode')?.errors &&
                    (verificationCode.get('resetCode')?.touched ||
                      resetCodeInput.value.length > 0)
                  "
                >
                  <p
                    class="alert alert-danger rounded-3 p-3 mt-3 shadow-sm"
                    *ngIf="
                      verificationCode.get('resetCode')?.getError('pattern')
                    "
                  >
                    <i class="fa-regular fa-circle-xmark text-danger"></i> Code
                    in valid
                  </p>
                </div>
              </div>
              <div class="btn-reset border-0 p-0 pt-3 text-end">
                <button class="btn-main">
                  <i
                    *ngIf="isLoading"
                    class="fa-solid fa-spinner fa-spin me-2"
                  ></i
                  >Reset
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="error-msg mt-5 alert alert-danger p-3 rounded-2 text-center"
    *ngIf="msgError"
  >
    <span class="fw-medium">{{ msgError }}</span>
  </div>
</section>
