<section class="py-5 " *ngIf="cartDetails&&cartDetails.length > 0;else msg">
    <div class="container">
        <div class="content-cart w-75 mx-auto">
            <div class="head-cart d-flex justify-content-between ">
                <div class="title-count d-flex  mb-3 flex-column">
                    <h1>Shop Cart</h1>
                    <span class="text-main fs-4">Total Price {{productCart.totalCartPrice | currency:' EGP'}}</span>
                </div>
                <button class=" btn-outline-main py-md-3 px-md-4 h-100 fs-6" (click)="deleteAllCart()">
                    <i class="fa-solid fa-trash-can me-1"></i>
                    <span>Clear Cart</span>
                </button>
            </div>

            <div class="row p-3 align-items-center mb-3 rounded-3 border border-main shadow-sm"
                *ngFor="let item of cartDetails">
                <div class=" col-md-2 mb-3 mb-lg-0">
                    <img class="w-100" [src]="item.product.imageCover" alt="">
                </div>
                <div class=" col-lg-8 col-md-6 pb-md-0 pb-4">
                    <div class="cart">
                        <div
                            class="price d-flex align-items-md-baseline align-items-center flex-md-column justify-content-between gap-md-2  ">
                            <h2 class="fs-6 pb-md-2 pb-0">{{item.product.title}}</h2>
                            <span class="text-main pb-2 ">{{item.price | currency:'EGP'}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div
                        class="btns d-flex gap-lg-5 gap-md-4 flex-md-column align-items-center justify-content-between justify-content-md-start">
                        <div class="counter d-flex align-items-center gap-4">
                            <button (click)="changeCount(item.product._id,item.count+1)"
                                class="btn btn-outline-success py-1 px-2"><i class="fa-solid fa-plus"></i></button>
                            <span>{{item.count}}</span>
                            <button (click)="changeCount(item.product._id,item.count-1)"
                                class="btn btn-outline-success py-1 px-2"> <i class="fa-solid fa-minus"></i></button>
                        </div>
                        <div class="btn-remove">
                            <button class="btn-outline-main" (click)="deleteProduct(item.product._id)"><i
                                    class="fa-solid fa-trash-can me-1"></i>
                                <span>
                                    Remove
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-toast [style]="{width:'300px',padding:'20px'}"></ng-toast>

</section>
<ng-template #msg>
    <h2 class="text-center">Your Cart is Empty</h2>
</ng-template>