<section class="w-75 mx-auto py-5">
    <h1 class="py-4 text-center">Register Now</h1>

    <form [formGroup]="registerForm" (ngSubmit)="handleForm()">

        <div class="mb-4">
            <label for="name" class="form-label">Name</label>
            <input formControlName="name" type="text" class="form-control" id="name">

            <!-- error message -->
            <div class="error-box bg-danger-subtle rounded-3 p-3  mt-3 shadow-sm "
                *ngIf="registerForm.get('name')?.errors && registerForm.get('name')?.touched">
                <p *ngIf="registerForm.get('name')?.getError('required')"><i
                        class="fa-regular fa-circle-xmark text-danger"></i>
                    Name is Required</p>
                <p *ngIf="registerForm.get('name')?.getError('minlength')"><i
                        class="fa-regular fa-circle-xmark text-danger"></i>
                    Name Min Length</p>
                <p *ngIf="registerForm.get('name')?.getError('maxlength')"><i
                        class="fa-regular fa-circle-xmark text-danger"></i>
                    Name Max Length</p>
            </div>

        </div>
        <div class="mb-4">
            <label for="email" class="form-label">Email address</label>
            <input formControlName="email" type="email" class="form-control" id="email">

            <!-- error message -->
            <div class="error-box bg-danger-subtle rounded-3 p-3  mt-3 shadow-sm "
                *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched">
                <p *ngIf="registerForm.get('email')?.getError('required')"><i
                        class="fa-regular fa-circle-xmark text-danger"></i>
                    Email is Required</p>
                <p *ngIf="registerForm.get('email')?.getError('email')"><i
                        class="fa-regular fa-circle-xmark text-danger"></i>
                    Email in valid</p>
            </div>
        </div>
        <div class="mb-4">
            <label for="password" class="form-label">Password</label>
            <input formControlName="password" type="password" class="form-control" id="password">

            <!-- error message -->
            <div class="error-box bg-danger-subtle rounded-3 p-3  mt-3 shadow-sm "
                *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched">
                <p *ngIf="registerForm.get('password')?.getError('required')"><i
                        class="fa-regular fa-circle-xmark text-danger"></i>
                    Password is Required</p>
                <p *ngIf="registerForm.get('password')?.getError('pattern')"><i
                        class="fa-regular fa-circle-xmark text-danger"></i>
                    Password in valid</p>
            </div>
        </div>
        <div class="mb-4">
            <label for="repassword" class="form-label">RePassword</label>
            <input formControlName="rePassword" type="password" class="form-control" id="repassword">

            <!-- error message -->
            <div class="error-box bg-danger-subtle rounded-3 p-3  mt-3 shadow-sm "
                *ngIf="registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched">
                <p *ngIf="registerForm.get('rePassword')?.getError('required')"><i
                        class="fa-regular fa-circle-xmark text-danger"></i>
                    Password is Required</p>
                <p *ngIf="registerForm.get('rePassword')?.getError('pattern')"><i
                        class="fa-regular fa-circle-xmark text-danger"></i>
                    Password confirmation is incorrect</p>
            </div>
        </div>
        <div class="mb-4">
            <label for="phone" class="form-label">Phone</label>
            <input formControlName="phone" type="tel" class="form-control" id="phone">

            <!-- error message -->
            <div class="error-box bg-danger-subtle rounded-3 p-3  mt-3 shadow-sm "
                *ngIf="registerForm.get('phone')?.errors && registerForm.get('phone')?.touched">
                <p *ngIf="registerForm.get('phone')?.getError('required')"><i
                        class="fa-regular fa-circle-xmark text-danger"></i>
                    Password is Required</p>
                <p *ngIf="registerForm.get('phone')?.getError('pattern')"><i
                        class="fa-regular fa-circle-xmark text-danger"></i>
                    accept only egypt phone numbers</p>
            </div>
        </div>
        <div class="btn-submit">
            <button class="btn bg-main text-white" [disabled]="registerForm.invalid">Register</button>
        </div>
    </form>
</section>