<section class="w-75 mx-auto">
    <h1 class="py-4 text-center">Register Now</h1>

    <form [formGroup]="registerForm" (ngSubmit)="handleForm()">
        <div class="mb-4">
            <label for="name" class="form-label">Name</label>
            <input formControlName="name" type="text" class="form-control" id="name">
        </div>
        <div class="mb-4">
            <label for="email" class="form-label">Email address</label>
            <input formControlName="email" type="email" class="form-control" id="email">
        </div>
        <div class="mb-4">
            <label for="password" class="form-label">Password</label>
            <input formControlName="password" type="password" class="form-control" id="password">
        </div>
        <div class="mb-4">
            <label for="repassword" class="form-label">RePassword</label>
            <input formControlName="rePassword" type="password" class="form-control" id="repassword">
        </div>
        <div class="mb-4">
            <label for="phone" class="form-label">Phone</label>
            <input formControlName="phone" type="tel" class="form-control" id="phone">
        </div>
        <div class="btn-submit">
            <button class="btn bg-main text-white">Register</button>
        </div>
    </form>
</section>