<section class="py-5">
  <div class="container">
    <div class="row gy-3">
      <div
        class="col-4 col-lg-2"
        *ngFor="
          let brand of products
            | paginate
              : {
                  id: 'productPaginate',
                  itemsPerPage: pageSize,
                  currentPage: currentPage,
                  totalItems: total
                }
        "
      >
        <div class="card shadow-sm bg-white rounded-3 pb-3">
          <img
            class="w-100 rounded-top-3"
            [src]="brand.image"
            [alt]="brand.name"
          />
          <h2 class="fs-5 mt-2 text-center text-main">{{ brand.name }}</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<pagination-controls
  class="my-pagination text-center rounded-2"
  id="productPaginate"
  (pageChange)="pageChanged($event)"
  (pageBoundsCorrection)="pageChanged($event)"
  [maxSize]="9"
  [directionLinks]="true"
  [autoHide]="true"
  [responsive]="true"
  previousLabel="Previous"
  nextLabel="Next"
  screenReaderPaginationLabel="Pagination"
  screenReaderPageLabel="page"
  screenReaderCurrentLabel="You're on page"
>
</pagination-controls>
