<section class="py-5">
    <div class="container">
        <div class="row gy-5 align-items-center">
            <div class="col-lg-6">
                <div class="image w-75 mx-auto rounded-4 shadow-sm p-4">
                    <img class="img-fluid rounded-2" [src]="productDetails.imageCover" [alt]="productDetails.title">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content-pro">
                    <h2 class="fw-normal fs-5">{{productDetails.title}}</h2>
                    <p class=" text-black-50 p-2">{{productDetails.description}}</p>
                    <span class="fw-medium">{{productDetails.category.name}}</span>
                </div>
                <div class="sale-rate mt-3 d-flex justify-content-between fw-medium ">
                    <p>{{productDetails.price}} EGP</p>
                    <span><i class="fas fa-star rating-color"></i> {{productDetails.ratingsAverage}}</span>
                </div>
                <div class="btn-add mt-3">
                    <button class="btn-main w-100">Add Product </button>
                </div>
            </div>
        </div>
    </div>
</section>