<section
  class="mt-4 mx-auto shadow-sm rounded-3 p-md-5 p-3 py-4 border border-1 border-main"
>
  <h1 class="py-4 text-center fw-semibold">Login</h1>

  <form [formGroup]="loginForm" (ngSubmit)="handleLoginForm()">
    <div class="image w-50 mx-auto mb-4">
      <img
        class="img-fluid"
        src="./assets/images/Tablet login-cuate.svg"
        alt="OTP"
      />
    </div>
    <!-- start email -->
    <div class="mb-4">
      <label for="email" class="form-label">Email address</label>
      <input
        #inputEmail
        formControlName="email"
        type="email"
        class="form-control"
        id="email"
      />

      <!-- error message -->
      <div
        class="error-box"
        *ngIf="
          loginForm.get('email')?.errors &&
          (loginForm.get('email')?.touched || inputEmail.value.length > 0)
        "
      >
        <p
          class="alert alert-danger rounded-3 p-3 mt-3 shadow-sm"
          *ngIf="loginForm.get('email')?.getError('required')"
        >
          <i class="fa-regular fa-circle-xmark text-danger"></i> Email is
          Required
        </p>
        <p
          class="alert alert-danger rounded-3 p-3 mt-3 shadow-sm"
          *ngIf="loginForm.get('email')?.getError('email')"
        >
          <i class="fa-regular fa-circle-xmark text-danger"></i> Email in valid
        </p>
      </div>
    </div>
    <!--end email-->

    <!-- start password -->
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        #inputPassword
        formControlName="password"
        type="password"
        class="form-control"
        id="password"
      />

      <!-- error message -->
      <div
        class="error-box"
        *ngIf="
          loginForm.get('password')?.errors &&
          (loginForm.get('password')?.touched || inputPassword.value.length > 0)
        "
      >
        <p
          class="alert alert-danger rounded-3 p-3 mt-3 shadow-sm"
          *ngIf="loginForm.get('password')?.getError('required')"
        >
          <i class="fa-regular fa-circle-xmark text-danger"></i> Password is
          Required
        </p>
        <p
          class="alert alert-danger rounded-3 p-3 mt-3 shadow-sm"
          *ngIf="loginForm.get('password')?.getError('pattern')"
        >
          <i class="fa-regular fa-circle-xmark text-danger"></i> Password in 
          valid
        </p>
      </div>
    </div>
    <!-- end password -->

    <!-- forget Password -->
    <!-- Button trigger modal -->
    <div class="forget-password mb-3 text-end">
      <a routerLink="/forgetpassword" class="text-main text-decoration-none">
        Forget Password?</a
      >
    </div>

    <!-- end forget password -->

    <div class="btn-submit">
      <button class="btn bg-main text-white">
        <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin me-2"></i> Login
      </button>
    </div>
  </form>
  <div
    class="error-msg mt-5 alert alert-danger p-3 rounded-2 text-center"
    *ngIf="msgError"
  >
    <span class="fw-medium">{{ msgError }}</span>
  </div>
</section>
