.icon {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.icon:hover {
  background-color: var(--main-color);
  color: white;
}

.shop {
  width: fit-content;
}
.shop div {
  width: 25px;
  height: 25px;
}
.dropdown-menu {
  min-width: 40px;
  max-width: fit-content;
}
