<nav class="navbar navbar-expand-lg bg-body-tertiary py-3">
    <div class="container">
        <a class="navbar-brand" routerLink="home"><img src="./assets/images/freshcart-logo.svg" alt=""></a>
        <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link p-0-md p-2" routerLink="home" routerLinkActive="active-link">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-0-md p-2" routerLink="cart" routerLinkActive="active-link">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-0-md p-2" routerLink="products" routerLinkActive="active-link">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-0-md p-2" routerLink="categories" routerLinkActive="active-link">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-0-md p-2" routerLink="brands" routerLinkActive="active-link">Brands</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-md-flex justify-content-md-center align-items-lg-center gap-3">
                <li
                    class="nav-item icon d-flex justify-content-center align-items-center text-center rounded-circle p-2">
                    <i class="fab fa-instagram"></i>
                </li>
                <li
                    class="nav-item icon d-flex justify-content-center align-items-center text-center rounded-circle p-2">
                    <i class="fab fa-facebook"></i>
                </li>
                <li
                    class="nav-item icon d-flex justify-content-center align-items-center text-center rounded-circle p-2">
                    <i class="fab fa-tiktok"></i>
                </li>
                <li
                    class="nav-item icon d-flex justify-content-center align-items-center text-center rounded-circle p-2">
                    <i class="fab fa-twitter"></i>
                </li>
                <li
                    class="nav-item icon d-flex justify-content-center align-items-center text-center rounded-circle p-2">
                    <i class="fab fa-linkedin"></i>
                </li>
                <li
                    class="nav-item icon d-flex justify-content-center align-items-center text-center rounded-circle p-2">
                    <i class="fab fa-youtube"></i>
                </li>
                <li class="nav-item sign">
                    <span class="cursor-pointer p-2" routerLink="signout" routerLinkActive="active-link"
                        (click)="logOutUser()">SignOut</span>
                </li>
            </ul>

        </div>
    </div>
</nav>