<section
  class="mt-4 mx-auto shadow-sm rounded-4 p-md-5 p-3 py-4 border border-1 border-main"
>
  <div class="container">
    <h1 class="text-center mb-5">Change Password</h1>
    <form action="" [formGroup]="changePassword" (ngSubmit)="handlePassword()">
      <div class="image w-50 mx-auto mb-4">
        <img
          class="img-fluid"
          src="./assets/images/Reset password-amico.svg"
          alt="OTP"
        />
      </div>
      <!-- start password -->
      <div class="mb-4">
        <label for="currentPassword" class="form-label">Current Password</label>
        <input
          #inputCurrentPassword
          formControlName="currentPassword"
          type="password"
          class="form-control"
          id="currentPassword"
        />

        <!-- error message -->
        <div
          class="error-box"
          *ngIf="
            changePassword.get('currentPassword')?.errors &&
            (changePassword.get('currentPassword')?.touched ||
              inputCurrentPassword.value.length > 0)
          "
        >
          <p
            class="alert alert-danger rounded-3 p-3 mt-3 shadow-sm"
            *ngIf="changePassword.get('currentPassword')?.getError('required')"
          >
            <i class="fa-regular fa-circle-xmark text-danger"></i> Password is
            Required
          </p>
        </div>
      </div>

      <div class="mb-4">
        <label for="password" class="form-label">Password</label>
        <input
          #inputPassword
          formControlName="password"
          type="password"
          class="form-control"
          id="password"
        />

        <!-- error message -->
        <div
          class="error-box"
          *ngIf="
            changePassword.get('password')?.errors &&
            (changePassword.get('password')?.touched ||
              inputPassword.value.length > 0)
          "
        >
          <p
            class="alert alert-danger rounded-3 p-3 mt-3 shadow-sm"
            *ngIf="changePassword.get('password')?.getError('required')"
          >
            <i class="fa-regular fa-circle-xmark text-danger"></i> Password is
            Required
          </p>
          <p
            class="alert alert-danger rounded-3 p-3 mt-3 shadow-sm"
            *ngIf="changePassword.get('password')?.getError('pattern')"
          >
            <i class="fa-regular fa-circle-xmark text-danger"></i> Password in
            valid
          </p>
        </div>
      </div>
      <!-- end password -->

      <div class="mb-4">
        <label for="repassword" class="form-label">RePassword</label>
        <input
          #inputRePassword
          formControlName="rePassword"
          type="password"
          class="form-control"
          id="repassword"
        />

        <!-- error message -->
        <div
          class="error-box"
          *ngIf="
            changePassword.get('rePassword')?.errors &&
            (changePassword.get('rePassword')?.touched ||
              inputRePassword.value.length > 0)
          "
        >
          <p
            class="alert alert-danger rounded-3 p-3 mt-3 shadow-sm"
            *ngIf="changePassword.get('rePassword')?.getError('required')"
          >
            <i class="fa-regular fa-circle-xmark text-danger"></i> RePassword is
            Required
          </p>
          <p
            class="alert alert-danger rounded-3 p-3 mt-3 shadow-sm"
            *ngIf="changePassword.get('rePassword')?.getError('mismatch')"
          >
            <i class="fa-regular fa-circle-xmark text-danger"></i> Password
            confirmation is incorrect
          </p>
        </div>
      </div>
      <div class="btn-submit">
        <button
          class="btn bg-main text-white"
          [disabled]="changePassword.invalid"
        >
          <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin me-2"></i>
          Change
        </button>
      </div>
    </form>
  </div>
</section>
