<section class="py-5">
  <div class="container">
    <div class="row gy-5">
      <div class="col-12 col-lg-4" *ngFor="let item of data">
        <div
          class="card rounded-4 shadow-sm py-3 px-3"
          [routerLink]="['/details', item.product._id]"
        >
          <div class="card-body d-flex gap-5">
            <img class="" [src]="item.product.imageCover" alt="" />

            <div
              class="content w-100 d-flex flex-column justify-content-between"
            >
              <div class="title-category">
                <p class="card-text">
                  {{ item.product.title.split(" ").slice(0, 2).join(" ") }}
                </p>
                <p class="card-text text-main fw-medium">
                  {{ item.product.category.name }}
                </p>
              </div>

              <div class="payment mt-2">
                <p class="card-text">Total Count: {{ item.count }}</p>
                <p class="card-text">
                  <strong>{{ item.price * item.count }} EGP</strong>
                </p>
              </div>
              <div class="rate mt-2">
                <span
                  ><i class="fas fa-star me-2 text-warning"></i
                  >{{ item.product.ratingsAverage }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
